@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/jetbrains-mono-regular.woff2") format("woff2"),
    url("fonts/jetbrains-mono-regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-style: italic;
  src: url("fonts/jetbrains-mono-regular-italic.woff2") format("woff2"),
    url("fonts/jetbrains-mono-regular-italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 500;
  font-style: normal;
  src: url("fonts/jetbrains-mono-medium.woff2") format("woff2"),
    url("fonts/jetbrains-mono-medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 500;
  font-style: italic;
  src: url("fonts/jetbrains-mono-medium-italic.woff2") format("woff2"),
    url("fonts/jetbrains-mono-medium-italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/jetbrains-mono-bold.woff2") format("woff2"),
    url("fonts/jetbrains-mono-bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-style: italic;
  src: url("fonts/jetbrains-mono-bold-italic.woff2") format("woff2"),
    url("fonts/jetbrains-mono-bold-italic.ttf") format("truetype");
  font-display: swap;
}
