@font-face {
	font-family: 'IBM Plex Sans';
	font-weight: normal;
	font-style: normal;
	src:
		url('/_fonts/IBMPlexSans-Regular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-weight: bold;
	font-style: normal;
	src:
		url('/_fonts/IBMPlexSans-Bold.ttf') format('truetype');
	font-display: swap;
}
