@font-face {
	font-family: 'Montserrat';
	font-weight: normal;
	font-style: normal;
	src:
		url('/font/Montserrat-Regular.woff') format('woff'),
		url('/font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: bold;
	font-style: normal;
	src:
		url('/font/Montserrat-Bold.woff') format('woff'),
		url('/font/Montserrat-Bold.ttf') format('truetype');
}
