* {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    box-sizing: border-box;
    color: inherit;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
}

body {
    background-color: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 95%);
    max-width: 1200px;
    margin: 0 auto;
    font: 1.6rem/1.6 'Montserrat', Arial, sans-serif;
    padding: 0 2rem;
}

strong {
    font-weight: bold;
}

a {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 5%);
    text-decoration: none;
    font-weight: bold;
    line-height: 1.8;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: bottom;
    user-select: none;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

h1,
h2,
h3,
p,
ul {
    margin-bottom: 2rem;
}

h3,
h4,
p,
ul {
    max-width: 400px;
}

h1 {
    font-size: 2.2em;
    line-height: 1.4;
}

h2 {
    font-size: 1.7em;
    line-height: 1.4;
}

h3 {
    font-size: 1.3em;
    line-height: 1.4;
}

h4 {}

ul {
    margin-left: 2rem;
}

li {
    padding-left: .5rem;
}


header,
footer {
    cursor: default;
}

header {
    margin: 6rem 0;
}

footer {
    margin: 10rem 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    gap: 2rem;
}


/*
===========================
MEDIA 600
===========================
*/

@media screen and (min-width:600px) {
    body {
        padding: 0 3rem;
    }
}

/*
===========================
MEDIA 800
===========================
*/

@media screen and (min-width:800px) {
    body {
        padding: 0 4rem;
        font-size: 1.8rem;
    }

    h3,
    h4,
    p,
    ul {
        max-width: 600px;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
    }


}

/*
===========================
MEDIA 1000
===========================
*/

@media screen and (min-width:1000px) {
    .grid {
        grid-gap: 3rem;
        gap: 3rem;
    }
}
