section {
    margin-top: 8rem;
}

.selected > div {
    grid-column-end: span 2;
}

.selected > div:last-child p {
    margin-bottom: .5rem;
}

#feedback p:first-line,
#works p:first-line {
    font-weight: bold;
}

h2 {
    margin-bottom: 4rem;
}

#works .grid div {
    margin-bottom: 0;
}

.grid > div {
    grid-column-end: span 2;
}

#works .grid > div {
    grid-column-end: span 1;
}

#works .grid .selected {
    grid-column-end: span 2;
}

#works .grid .selected > div {
    grid-column-end: span 2;
}

.selected > div:last-child {
    display: none;
}


/*
===========================
MEDIA 600
===========================
*/

@media screen and (min-width:600px) {
    #services .grid > div {
        grid-column-end: span 1;
    }
}

/*
===========================
MEDIA 800
===========================
*/

@media screen and (min-width:800px) {

    #works .grid .selected {
        grid-column-end: span 4;
        align-items: center;
    }

    #works .grid .selected > div {
        grid-column-end: span 2;
    }

    .selected > div {
        grid-column-end: span 1;
    }

    .selected > div:last-child {
        display: block;
    }

    #services .grid > div {
        grid-column-end: span 2;
    }

    #offer h2 {
        margin-top: 15rem;
        margin-bottom: 15rem;
    }

    #works .grid .selected:nth-child(even) > div:last-child {
        order: -1;
        text-align: right;
    }

}

/*
===========================
MEDIA 1000
===========================
*/

@media screen and (min-width:1000px) {

    #services .grid > div {
        grid-column-end: span 1;
    }
}
