section {
    margin-top: 8rem;
}

h2 {
    margin-bottom: 4rem;
}

figcaption {
    display: none;
    margin-top: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: hsl(0, 0%, 95%);
    background-color: none;

}

.c4.lazy > * {
    grid-column-end: span 12;
}

footer {
    margin: 15rem 0 20rem 0;
}

p,
ul {
    margin-bottom: 0;
}

/*
===========================
MEDIA 300
===========================
*/

@media screen and (min-width:300px) {

    .c4 div:nth-child(odd) a img:hover {
        transform: scale(1.02) rotateZ(-1deg);
    }

    .c4 div:nth-child(even) a img:hover {
        transform: scale(1.02) rotateZ(1deg);
    }

}

/*
===========================
MEDIA 600
===========================
*/

@media screen and (min-width:600px) {

    h1 {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    .c4 div:nth-child(3n) a img:hover {
        transform: scale(1.02) rotateZ(1deg);
    }

    .c4 div:nth-child(3n+1) a img:hover {
        transform: scale(1.02) rotateZ(-1deg);
    }

    .c4 div:nth-child(3n+2) a img:hover {
        transform: scale(1.02) rotateZ(0deg);
    }

    .c4.lazy > * {
        grid-column-end: span 6;
    }

}

/*
===========================
MEDIA 800
===========================
*/

@media screen and (min-width:800px) {

    .c4.lazy > * {
        grid-column-end: span 4;
    }

}

/*
===========================
MEDIA 900
===========================
*/

@media screen and (min-width:900px) {

    .c4 div:nth-child(4n) a img:hover {
        transform: scale(1.02) rotateZ(1deg);
    }

    .c4 div:nth-child(4n+1) a img:hover {
        transform: scale(1.02) rotateZ(-1deg);
    }

    .c4 div:nth-child(4n+2) a img:hover {
        transform: scale(1.02) rotateZ(0deg);
    }

    .c4 div:nth-child(4n-1) a img:hover {
        transform: scale(1.02) rotateZ(0deg);
    }
}

/*
===========================
MEDIA 1000
===========================
*/

@media screen and (min-width:1000px) {

    .c4.lazy > * {
        grid-column-end: span 3;
    }
}
