figure {
    margin-bottom: 2rem;
}

figcaption {
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: .8em;
    line-height: 1.4;
    width: 80%;
    color: hsl(0, 0%, 90%);
}

.grid {
    margin-bottom: 2rem;
    justify-items: center;
}

.grid * {
    margin-bottom: 0;
}

figure + p,
p + figure,
p + .grid,
.grid + p,
.grid + ul,
ul + .grid,
ul + figure,
figure + ul {
    margin-top: 3rem;
}

/*
===========================
MEDIA 600
===========================
*/

@media screen and (min-width:600px) {}

/*
===========================
MEDIA 800
===========================
*/

@media screen and (min-width:800px) {

    figure + p,
    p + figure,
    p + .grid,
    .grid + p,
    .grid + ul,
    ul + .grid,
    ul + figure,
    figure + ul {
        margin-top: 3rem;
    }
}


/*
===========================
MEDIA 1000
===========================
*/

@media screen and (min-width:1000px) {

    figure,
    .grid {
        margin-bottom: 3rem;
    }
}
