figure {
    margin-bottom: 2rem;
}

figcaption {
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: .8em;
    line-height: 1.4;
    width: 80%;
    color: hsl(0, 0%, 90%);
}

.grid {
    margin-bottom: 2rem;
}

.grid * {
    margin-bottom: 0;
}

figure + p,
p + figure,
p + .grid,
.grid + p,
.grid + ul,
ul + .grid,
ul + figure,
figure + ul {
    margin-top: 4rem;
}

.logo > * {
    margin-bottom: 4rem;
}

/*
===========================
MEDIA 600
===========================
*/

@media screen and (min-width:600px) {

    .c2.zigged,
    .c2.zagged {
        grid-template-columns: 1fr;
        justify-items: stretch;
    }

    .c2.zigged > *,
    .c2.zagged > * {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 2rem;
        gap: 2rem;
    }

    .c2.zigged > * > *,
    .c2.zagged > * > * {
        grid-column-end: span 6;
    }

    .c2.zigged > *:nth-child(even) > *,
    .c2.zagged > *:nth-child(odd) > * {
        grid-column-start: 7;
    }

    .logo > * {
        grid-column-start: 4;
        margin-bottom: 6rem;
    }
}

/*
===========================
MEDIA 800
===========================
*/

@media screen and (min-width:800px) {

    figure + p,
    p + figure,
    p + .grid,
    .grid + p,
    .grid + ul,
    ul + .grid,
    ul + figure,
    figure + ul {
        margin-top: 6rem;
    }

}

/*
===========================
MEDIA 900
===========================
*/

@media screen and (min-width:900px) {

    .c2.zigged > *,
    .c2.zagged > * {
        grid-gap: 3rem;
        gap: 3rem;
    }
}

/*
===========================
MEDIA 1000
===========================
*/

@media screen and (min-width:1000px) {

    figure,
    .grid {
        margin-bottom: 3rem;
    }
}
