/*
=== GENERAL ===
*/

* {
  margin: 0;
  /* border: 1px solid gray; */
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  color: inherit;
  vertical-align: baseline;
}

:root {

  /* = canvas = */
  --min-vw: calc(400 / 16);
  --max-vw: calc(2560 / 16);
  --min-cw: calc(400 / 16);
  --max-cw: calc(1800 / 16);
  --cw: 100vw;

  /* = colors = */
  --color-bg: hsl(220, 10%, 10%);
  --color-text: hsl(220, 10%, 100%);
  --color-accent: hsl(190, 100%, 50%);

  /* = typography = */
  --min-fs: calc(18 / 16);
  --max-fs: calc(24 / 16);
  --fs: var(--min-fs-rem);
  --fsr: 1.4;
  --lh: 1.5;
  --ll: calc(var(--fs) * 30);

  /* = spacing = */
  --s: calc(var(--fs) * var(--lh) / 2);
  --bleed: calc(var(--min-fs-rem) * var(--lh));

  /* = -rem = */
  --min-vw-rem: calc(var(--min-vw) * 1rem);
  --max-vw-rem: calc(var(--max-vw) * 1rem);
  --min-cw-rem: calc(var(--min-cw) * 1rem);
  --max-cw-rem: calc(var(--max-cw) * 1rem);
  --min-fs-rem: calc(var(--min-fs) * 1rem);
  --max-fs-rem: calc(var(--max-fs) * 1rem);

}

/*
=== COMMON ===
*/

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-accent);
}

nav a {
  font-weight: normal;
  color: var(--color-text);
}

a:hover {
  text-decoration: underline;
}


/* a[href^="mailto:"]::before {
  content: "📧";
  margin-right: calc(var(--s) / 2);
} */

/* a[href$=".pdf"]::before {
  content: "[";
  text-decoration: none;
}

a[href$=".pdf"]::after {
  content: "]";
  text-decoration: none;
} */

img,
video {
  width: 100%;
  display: block;
  user-select: none;
}

figure {
  padding: calc(var(--bleed) / 2) 0;
  max-width: var(--cw);
}

figure+figure {
  margin-top: 0;
}

nav {
  display: block;
}

header nav {
  display: flex;
  justify-content: space-between;
}

/* nav ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: calc(var(--s) * 4);
}

nav ul li {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: calc(var(--s) * 1);
} */

/*
=== TYPOGRAPHY ===
*/

h1,
h2,
h3,
h4 {
  letter-spacing: unset;
}

h1 {
  font-size: calc(var(--fs) * var(--fsr) * var(--fsr) * var(--fsr));
  line-height: 1.1;
  word-wrap: break-word;
  font-weight: bold;
  max-width: 15em;
  margin-bottom: calc(var(--s) * 2);
}

h2 {
  font-size: calc(var(--fs) * var(--fsr) * var(--fsr));
  line-height: 1.2;
  word-wrap: break-word;
  font-weight: bold;
  max-width: 15em;
  margin-top: calc(var(--s) * 8);
  margin-bottom: calc(var(--s) * 2);
}

article h2 {
  margin-top: calc(var(--s) * 6);
}

h3 {
  font-size: calc(var(--fs) * var(--fsr));
  margin-bottom: calc(var(--s) * 2);
  line-height: 1.3;
  font-weight: bold;
  max-width: 20em;
  margin-top: calc(var(--s) * 2);
  margin-bottom: calc(var(--s) * 1);
}

h4 {
  font-weight: bold;
  max-width: 30em;
  margin-top: calc(var(--s) * 1);
  margin-bottom: calc(var(--s) * 1);
}

p,
ul {
  max-width: 30em;
  margin-top: calc(var(--s));
  margin-bottom: calc(var(--s));
}

p+figure,
figure+p,
ul+figure,
figure+ul {
  margin-top: calc(var(--s) * 2);
}

li {
  margin-left: 2.5rem;
}


/*
=== STRUCTURE ===
*/

body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0 auto;
  padding: var(--bleed);
  padding-bottom: calc(var(--s) * 8);
  font: var(--fs)/var(--lh) 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  /* letter-spacing: calc(1 / 64 * 1rem); */
}

header,
main,
footer {
  max-width: var(--cw);
  margin: auto;
}

header {
  /* text-transform: uppercase; */
}

main,
footer {
  margin-top: calc(var(--s) * 8);
}

footer>nav {
  margin-bottom: calc(var(--s) * 4);
}

/*
=== CUSTOM ===
*/

#works h2 {
  margin-bottom: calc(var(--s) * 2);
}

#works a {
  font-weight: normal;
  color: var(--color-text);
}

#works a:hover {
  text-decoration: none;
}

#works a h3 {
  color: var(--color-accent);
}

#works a:hover h3 {
  text-decoration: underline;
}

#works h3 {
  margin: 0;
}

#works figure {
  margin: 0;
}

#works p {
  margin: 0;
}

#works section {
  margin-bottom: calc(var(--s) * 3);
}

/*
=== MEDIA 400 ===
*/

@media (min-width:25em) {
  :root {
    --bleed: calc(var(--min-fs-rem) * var(--lh) + (var(--max-fs) * var(--lh) * 2 - var(--min-fs) * var(--lh)) * (100vw - var(--min-vw-rem)) / (var(--max-vw) - var(--min-vw)));
    --fs: calc(var(--min-fs-rem) + (var(--max-fs) - var(--min-fs)) * (100vw - var(--min-vw-rem)) / (var(--max-vw) - var(--min-vw)));
    --cw: calc(var(--min-cw-rem) + (var(--max-cw) - var(--min-cw)) * (100vw - var(--min-vw-rem)) / (var(--max-vw) - var(--min-vw)));
  }
}


/*
=== MEDIA 600 ===
*/

@media (min-width:37.5em) {
  :root {
    --fsr: 1.5;
  }
}

/*
=== MEDIA 2560 ===
*/

@media (min-width:160em) {

  :root {
    --bleed: calc(var(--max-fs-rem) * var(--lh) * 2);
    --fs: var(--max-fs-rem);
    --cw: var(--max-cw-rem);
  }

}

/*
=== MEDIA LIGHT ===
*/

/* @media (prefers-color-scheme: light) {
  :root {
    --color-bg: hsl(220, 12%, 96%);
    --color-text: hsl(220, 12%, 0%);
  }

  body {
    letter-spacing: unset;
  }
} */

/*
=== MEDIA PRINT ===
*/


@media print {

  :root {

    --color-bg: hsl(0, 0%, 100%);
    --color-text: hsl(0, 0%, 0%);
    --color-accent: hsl(0, 0%, 0%);

    --fs: 12pt;

  }

  img {
    border: 1px solid lightgray;
  }

  h1,
  h2 {
    page-break-after: avoid;
  }

  img,
  figure,
  p,
  ul,
  ol {
    page-break-inside: avoid;
  }
}