/*
=== GENERAL ===
*/

/* == COMMON == */

* {
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	box-sizing: border-box;
	color: inherit;
	vertical-align: baseline;
}

:root {
	font-size: 62.5%;

	/* = dynamic values = */
	--min-cw: 40;
	--max-cw: 240;
	--min-fs: 1.6;
	--max-fs: 2;
	--min-bs: 1;
	--max-bs: 1.5;

	/* = dynamic values in rem = */
	--min-cw-rem: calc(var(--min-cw) * 1rem);
	--max-cw-rem: calc(var(--max-cw) * 1rem);
	--min-bs-rem: calc(var(--min-bs) * 1rem);
	--max-bs-rem: calc(var(--max-bs) * 1rem);
	--min-fs-rem: calc(var(--min-fs) * 1rem);
	--max-fs-rem: calc(var(--max-fs) * 1rem);

	/* = color scheme = */
	--color-bg: hsl(0, 0%, 10%);
	--color-text: hsl(0, 0%, 100%);

	/* = typography = */
	--font-size: var(--min-fs-rem);

	/* = img = */
	--img-full: 1600px;

	/* = spacing = */
	--basic-space: var(--min-bs-rem);
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	padding: 0 calc(var(--basic-space) * 2);
	margin: 0 auto;
	max-width: var(--max-cw-rem);
	font: var(--font-size)/1.7 'Montserrat', Helvetica, Arial, sans-serif;
}

a {
	color: var(--color-text);
	text-decoration: none;
	border-bottom: 1px solid var(--color-text);
}

img,
video {
	max-width: 100%;
	display: block;
	user-select: none;
	text-align: center;
	color: var(--color-text);
	box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.1);
}

a img {
	margin-bottom: -1px;
	transition: all .5s;
}

a:hover img {
	box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.05);
}

/* == TEXT == */

p {
	max-width: calc(var(--font-size) * 100 / 3);
}

h1 {
	font-weight: bold;
	font-size: 2em;
	line-height: 1.4;
}

mark {
	color: var(--color-bg);
	background-color: var(--color-text);
	padding: 0 .5rem;
}


/* == SCTRUCTURE == */

header,
main {
	margin-top: calc(var(--basic-space) * 4);
}

footer {
	margin-top: calc(var(--basic-space) * 6);
	margin-bottom: 15vh;
}

footer nav {
	margin-bottom: calc(var(--basic-space) * 2);
}

main,
.s2,
.s4 {
	display: grid;
	grid-gap: calc(var(--basic-space) * 2);
	gap: calc(var(--basic-space) * 3);
}

p + p {
	margin-top: -1rem;
}

p + figure {
	margin-top: 1rem;
}

figure + p {
	margin-top: 1rem;
}

/* == FIGURE == */

figure img {
	max-width: var(--img-full);
	width: 100%;
}

figcaption {
	font-size: .8em;
	margin-top: calc(var(--basic-space) * 1);
	line-height: 1.4;
}


.s2 img {
	max-width: calc(var(--img-full) / 2);
}

.s4 img {
	max-width: calc(var(--img-full) / 4);
}

/* == CUSTOM == */

.s600 img {
	background-color: hsl(0, 0%, 100%);
}

.portfolio a:hover img {
	transform: scale(1.05);
}

/*
=== MEDIA 400 ===
*/

@media (min-width:25em) {
	:root {
		--basic-space: calc(var(--min-bs-rem) + (var(--max-bs) - var(--min-bs)) * ((100vw - var(--min-cw-rem)) / (var(--max-cw) - var(--min-cw))));
		--font-size: calc(var(--min-fs-rem) + (var(--max-fs) - var(--min-fs)) * ((100vw - var(--min-cw-rem)) / (var(--max-cw) - var(--min-cw))));
	}

	h1 {
		font-size: 2.5em;
	}

	.s4 {
		grid-template-columns: repeat(2, 1fr);
	}

	body {
		padding: 0 calc(var(--basic-space) * 3);
	}
}

/*
=== MEDIA 800 ===
*/

@media (min-width:50em) {

	h1 {
		font-size: 3em;
	}

	main {
		grid-template-columns: repeat(2, 1fr);
	}

	p {
		margin-bottom: 2rem;
	}

	p + p {
		margin-top: -3rem;
	}

	p + figure {
		margin-top: 0;
	}

	h1,
	figure,
	p {
		grid-column-end: span 2;
	}

	.s600 {
		grid-column-end: span 1;
	}

	.s2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.s4 {
		grid-template-columns: repeat(4, 1fr);
	}

}

/*
=== MEDIA 1600 ===
*/

@media (min-width:100em) {

	:root {
		--basic-space: var(--max-bs-rem);
		--font-size: var(--max-fs-rem);
	}

	main {
		grid-template-columns: repeat(3, 1fr);
		grid-auto-flow: dense;
	}

	h1 {
		grid-column-end: span 3;
		margin-bottom: calc(var(--basic-space) * 1.5);
	}

	p {
		grid-column-start: 1;
		grid-column-end: span 1;
		margin-bottom: 0;
	}

	p + p {
		margin-top: 0;
	}

	figure + p {
		margin-top: 0;
	}

	figure {
		grid-column-start: 2;
	}

	.s600:nth-child(odd) {
		grid-column-start: 2;
	}

	.s600:nth-child(even) {
		grid-column-start: 3;
	}


}

/*
=== MEDIA 2400 ===
*/

@media (min-width:150em) {

	:root {
		--basic-space: var(--max-bs-rem);
		--font-size: var(--max-fs-rem);
	}

}

/*
=== MEDIA LIGHT COLOR SCHEME ===
*/

@media (prefers-color-scheme:light) {

	/* == COMMON == */

	:root {

		/* = color scheme = */
		--color-bg: hsl(0, 0%, 98%);
		--color-text: hsl(0, 0%, 0%);

	}

}

/*
=== MEDIA PRINT ===
*/

@media print {

	/* == COMMON == */

	:root {

		/* = color scheme = */
		--color-bg: hsl(0, 0%, 100%);
		--color-text: hsl(0, 0%, 25%);

		/* = typography */
		--font-size: 13pt;
		--font-size-increment: 1.5;

		/* = spacing */
		--basic-space: 0;

	}

	main a::after {
		content: " ("attr(href)") ";
	}

	main {
		display: block;
	}

	a[href^='mailto:']::after,
	figure > a::after {
		content: "";
	}

	/* == STRUCTURE == */

	header,
	footer {
		display: none;
	}

	.s2 {
		display: block;
	}

	img {
		box-shadow: none;
		border: 1px solid gray;
	}

	.s2 img {
		margin-bottom: .5cm;
	}

	a img {
		border-bottom: inherit;
		margin-bottom: 0;
	}

	.s4 a:hover img {
		transform: none;
	}

	a img {
		border-bottom: 1px solid gray;
		margin-bottom: inherit;
		transition: none;
	}

	body,
	body * {
		padding: 0;
		margin: 0;
	}

	main * {
		margin-bottom: 2rem;
	}

	.s600 {
		max-width: 50vw;
	}

	.s600 img {
		box-shadow: none;
	}

	.s600 figcaption {
		margin: 0;
		padding-bottom: 2rem;
	}

	/* == PAGE BREAK RULES == */

	h1 {
		page-break-after: avoid;
	}

	img,
	figure,
	p {
		page-break-inside: avoid;
	}
}
