/*
=== GENERAL ===
*/

* {
  margin: 0;
  border: none;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  color: inherit;
  vertical-align: baseline;
}

:root {
  font-size: 62.5%;

  /* = viewport width = */
  --min-vw: 40;
  --max-vw: 240;
  --min-vw-rem: calc(var(--min-vw) * 1rem);
  --max-vw-rem: calc(var(--max-vw) * 1rem);

  /* = content width = */
  --min-cw: 40;
  --max-cw: 200;
  --min-cw-rem: calc(var(--min-cw) * 1rem);
  --max-cw-rem: calc(var(--max-cw) * 1rem);

  /* = color scheme = */
  --color-bg: hsl(0, 0%, 6%);
  --color-text: hsl(0, 0%, 100%);

  /* = spacing = */
  --min-s: calc(var(--min-fs) * var(--lh) / 2);
  --max-s: calc(var(--max-fs) * var(--lh) / 1.75);
  --min-s-rem: calc(var(--min-s) * 1rem);
  --max-s-rem: calc(var(--max-s) * 1rem);
  --bs: var(--min-s-rem);
  --s-xs: calc(var(--bs) * 1);
  --s-s: calc(var(--bs) * 2);
  --s-m: calc(var(--bs) * 4);
  --s-l: calc(var(--bs) * 6);
  --s-xl: calc(var(--bs) * 8);

  /* = img = */
  --img-full: calc(var(--max-cw-rem) * .6);

  /* = typography = */
  --min-fs: 1.6;
  --max-fs: 2.6;
  --min-fs-rem: calc(var(--min-fs) * 1rem);
  --max-fs-rem: calc(var(--max-fs) * 1rem);
  --bfs: var(--min-fs-rem);
  --fsr: 1.4;
  --lh: 1.5;
  --fs-h3: calc(var(--bfs) * var(--fsr));
  --fs-h2: calc(var(--fs-h3) * var(--fsr));
  --fs-h1: calc(var(--fs-h2) * var(--fsr));
}

/* == COMMON == */

a:hover {
  font-style: italic;
}

img,
video {
  max-width: 100%;
  display: block;
  user-select: none;
}

figure {
  margin-bottom: var(--s-s);
  max-width: var(--img-full);
}

/* == STRUCTURE == */

body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0 auto;
  max-width: var(--img-full);
  padding: var(--s-s);
  font: var(--bfs)/var(--lh) 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  letter-spacing: .05rem;
}

main {
  margin-top: var(--s-l);
}

footer {
  margin-top: var(--s-xl);
}

h1~section {
  margin-top: var(--s-xl);
}

h2~section {
  margin-top: var(--s-s);
}

h3~section {
  margin-top: var(--s-xs);
}

/* == TEXT == */

h1 {
  font-size: var(--fs-h1);
  line-height: 1.2;
}

h2 {
  font-size: var(--fs-h2);
  line-height: 1.3;
}

h3 {
  font-size: var(--fs-h3);
  line-height: 1.4;
}

h1,
h2 {
  margin-bottom: var(--s-s);
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  max-width: var(--max-cw-rem);
}

p,
ul,
figcaption {
  max-width: calc(var(--bfs) * 100 / 3.5);
}

h3,
p,
ul {
  margin-bottom: var(--s-xs);
}

li {
  margin-inline-start: 2.5rem;
}


/* == CUSTOM == */

footer p+nav {
  margin-top: calc(var(--s-xl) / 2);
}

footer p:last-of-type {
  margin-bottom: 0;
}

footer::after {
  content: '—';
  display: block;
  margin-top: calc(var(--s-xl) / 2);
}

#works>section,
.s2 {
  display: grid;
  max-width: var(--img-full);
  grid-gap: var(--s-s);
}

#works>section {
  padding-top: var(--s-xs);
}

#works h3,
#works section p {
  margin-bottom: 0;
}

#works figure {
  margin-bottom: var(--s-xs);
}

#works>section>section {
  /* margin-bottom: calc(var(--s-xs) / 2); */
}

#works>section>section>a {
  text-decoration: none;
}

#works h3::after {
  content: ' –';
  float: right;
  display: block;
}

#works>section>section>a:hover h3::after {
  content: ' +';
  font-style: normal;
  float: right;
  display: block;
}

p+figure,
figure+p,
p+.s2,
.s2+p {
  margin-top: calc(var(--s-s)*1.25);
}

.s2 figure {
  margin-bottom: 0;
}

.s2 {
  margin-bottom: var(--s-s);
}

/*
=== MEDIA 400 ===
*/

@media (min-width:25em) {
  :root {
    --bs: calc(var(--min-s-rem) + (var(--max-s) - var(--min-s)) * ((100vw - var(--min-vw-rem)) / (var(--max-vw) - var(--min-vw))));
    --bfs: calc(var(--min-fs-rem) + (var(--max-fs) - var(--min-fs)) * ((100vw - var(--min-vw-rem)) / (var(--max-vw) - var(--min-vw))));
  }
}

/*
=== MEDIA 600 ===
*/

@media (min-width:37.5em) {
  :root {
    /* --img-full: calc(95vh / 3 * 4); */
  }

  #works>section,
  .s2 {
    grid-template-columns: repeat(2, 1fr);
  }

}

/*
=== MEDIA 2400 ===
*/

@media (min-width:150em) {

  :root {
    --bs: var(--max-s-rem);
    --bfs: var(--max-fs-rem);
  }

}

/*
=== MEDIA PRINT ===
*/


@media print {

  :root {

    --color-bg: hsl(0, 0%, 100%);
    --color-text: hsl(0, 0%, 0%);

    --bfs: 13pt;

    --bs: 1rem;

  }

  img {
    border: 1px solid lightgray;
  }

  h1,
  h2 {
    page-break-after: avoid;
  }

  img,
  figure,
  p,
  ul,
  ol {
    page-break-inside: avoid;
  }
}